.article {
  display: flex;
  padding: 20px;

  .thumbnail {
    max-width: 200px;
    max-height: 200px;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .text-block {
    margin-left: 20px;
  }
}
